# 平台 dy or ks
PLATFORM=dy

# 运行模式 share or search
RUN_MODE=share

# 启用调试模式，打印所有配置参数
DEBUG=False

# web socket 链接
WS_URL="ws://192.168.2.9:11221/ws/"

# 是否以无头模式运行浏览器(true/false)
HEADLESS=false

# 日志文件路径
LOGS_PATH=logs