# 抖音配置文件

# 启用调试模式，打印所有配置参数
DEBUG=True

# 是否以无头模式运行浏览器(true/false)
HEADLESS=False

# WebSocket 服务器地址
WS_URL="ws://127.0.0.1:11221/ws/?id=aacf63469753dfd97424544d0c7bdbee"
#WS_URL="ws://127.0.0.1:8765"

#验证uuid地址
#ACTIVE_URL="http://127.0.0.1:8080/siberianNitraria/activate"
ACTIVE_URL="http://139.159.230.186:8080/siberianNitraria/activate"
#ACTIVE_URL="http://127.0.0.1:8765/siberianNitraria/activate"
#http://139.159.230.186/api/siberianNitraria/verifyActivate

# 平台 dy or xhs
#PLATFORM=dy
#PLATFORM=ks
PLATFORM=xhs

#
CONNECT_KEY=key-6584

# 运行模式 share or search
#RUN_MODE=share
RUN_MODE=search

# 日志文件路径
LOGS_PATH=logs

#设备码
DEVICE_CODE="aacf63469753dfd97424544d0c7bdbee"

UUID="GVBgmLba82"

#SIBERIAN_URL="http://139.159.230.186/api/siberianNitraria/verifyActivate"
#SIBERIAN_KEY="Li/HbEihAYOLKDSYZAqJ/8d2tN0SC81ROxOFJ4Yokuk="
